.body{   
    height: 100vh; 
    background-color: rgb(215, 230, 235);
    display: flex;
    justify-content: center;align-items: center;   
}

.rectangle{
    width: 350px;
    align-content: center;
    background-color: white; 
    display: flex;
    justify-content: center;
    border-radius: 5%;    
}

.article{
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 30px;
    font-family: sans-serif;    
}

.article img{
    height: 300px;    
    border-radius: 5%;     
}

article h1{
    font-weight: 700;
}

article p{
    color:grey;
}